[user]
	name = SuguruOoki
	email = oki.work0527@gmail.com
[push]
    default = current
[init]
	defaultBranch = main
	templateDir = /Users/suguruohki/.git-templates/git-secrets
[pull]
	rebase = true
[url "git@github.com:"]
	insteadOf = https://github.com
[url "https://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:x-oauth-basic@github.com/"]
	insteadOf = https://github.com/
